// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book", Arial, sans-serif 

+font(NautilusPompilus, nautilus)  
=fn
	font-family: "NautilusPompilus", Arial, sans-serif 

+font(HeliosCondensedBold, HeliosCondBold)  
=fh
	font-family: "HeliosCondensedBold", Arial, sans-serif 

+font(PFDinTextProRegular, PFDinTextProRegular)  
=fd
	font-family: "PFDinTextProRegular", Arial, sans-serif 

$brown: #602d1d
$brown-yellow: #fff5de
$light-brown: #dcc9b4
$light-brown2: #f8f3e7

body
	font-size: 16px 
	line-height: 1.4
	+fh
	padding-top: 75px 


// common blocks      
.header
	position: fixed
	//padding: 27px 0 0 21px
	height: 75px
	top: 0 
	min-width: 355px
	min-width: 320px 
	width: 100%
	background: $brown-yellow
	box-shadow: 0 2px 4px rgba(#000, .5)
	z-index: 200
	.header__btn	
		padding: 0
		background: none
		+s(menu-ico)
		position: absolute
		left: 22px 
		top: 26px 
		width: 28px
		height: 23px  
		+background-size(28px, 23px)
	.header__logo
		position: absolute
		top: 5px
		left: 50%
		margin: 0 0 0 -38px
		width: 77px
		height: 59px
		+background-size(100%,100%)
		background-repeat: no-repeat 
	.menu
		position: absolute
		top: 100%
		left: 0
		//padding-bottom: 270px
		width: 100%
		text-align: center
		background: $brown-yellow
		display: none
		li
			height: 58px
			border-top: 1px solid $light-brown
			&:hover
				background: $light-brown

			&:first-child
				border: none
		a
			color: $brown
			font-size: 23px
			line-height: 58px
			text-transform: uppercase
			text-decoration: none
			display: block

//logo
.logo
	+s(logo)
	display: inline-block

//btn
.btn
	display: inline-block
	+border-radius(2px)
	&.btn_light-brown
		padding: 10px 25px
		color: #a88a69
		font-size: 23px
		text-decoration: none
		background: $light-brown2
		+box-shadow(inset 1px 2px #fff)
		border: 1px solid rgba(#ccc, 0.5)

//container
.container
	overflow: hidden

//field
.field
	position: relative
	margin-top: -6px 
	// margin-top: -205px
	// padding-top: 72px
	min-height: 220px
	text-align: center
	z-index: 20
	background: url(../img/bg.png) repeat-x 0 0
	overflow: hidden
	background-size: cover 
	padding-top: 32px 
	&:before
		position: absolute
		content: ''
		left: 0
		top: 40% 
		bottom: 120px 
		+s(pic-left) 
		width: 163px
		height: 143px
		+background-size(163px, 143px)
	&:after
		position: absolute
		content: ''
		right: 0
		bottom: 0  
		+s(pic-right)
		width: 251px
		height: 199px
		+background-size(251px, 199px)

//banner
.banner
	background-size: cover
	display: block
	background-repeat: no-repeat 
	background-position: 50% 0 
	img
		display: block
		width: 100% 

//
.cycle
	position: relative
	margin: 220px auto 0 auto
	width: 292px
	.cycle-slideshow
	.cycle__item
	.cycle__nav
		position: absolute
		top: 50%
		margin-top: -20px
		background: none
		display: inline-block
	.cycle__nav_prev
		left: -39px
		+s(slider-prev)
	.cycle__nav_next
		right: -39px
		+s(slider-next)


.ill
	height: 1px 
	position: relative
	i
		width: 58px 
		position: absolute
		left: 0
		top: 0
		img
			display: block
			width: 100%
	&.ill_right
		i
			right: 0
			left: auto  
			   